{{#if movies}}
  <section class="current-list row">
    <div class="gallery">
      {{#each movies}}
        <div class="gallery-cell"
             data-id="{{id}}"
             style="background-image:url(
               {{#if poster_path}}
               https://image.tmdb.org/t/p/w500{{poster_path}}
               {{else}}
               http://hamishhossack.co.uk/logo.svg
               {{/if}}
               )">
          <h2>{{title}}</h2>
          <div class="content">
            <p>{{truncate overview}}</p>
            <p>{{release_date}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
{{/if}}