{{#if selectedMovie }}
  <section class="selected-movie row">
    <div class="poster four columns">
      <img alt="poster - {{selectedMovie.title}}"
           height="400"
           src="
              {{#if selectedMovie.poster_path}}
               https://image.tmdb.org/t/p/w342{{selectedMovie.poster_path}}
              {{else}}
               http://hamishhossack.co.uk/assets/images/logo.svg
              {{/if}}
              "
       >
    </div>
    <div class="content eight columns">
      <h2>{{selectedMovie.title}}</h2>
      <p>{{selectedMovie.overview}}</p>
      <ul class="inline">
        <li><i class="fa fa-thumbs-o-up"></i>&nbsp;{{selectedMovie.vote_count}}</li>
        <li>(Average: {{selectedMovie.vote_average}})</li>
      </ul>
      <ul>
        {{#if selectedMovie.adult}}<li></li>{{/if}}
        <li>Released: {{selectedMovie.release_date}}</li>
        <li>Popularity: {{selectedMovie.popularity}}</li>
      </ul>
    </div>
  </section>
{{/if}}

